:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6vh;
}
.container-textarea {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

textarea {
  resize: none;
  border-radius: 8px;
  border: 1px solid #716f6f;
  padding: 8px;
  margin-bottom: 6px;
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
}

.form-section {
  border: 1px solid #716f6f;
  padding: 10px;
  border-radius: 8px;
}

#new-date {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.error {
  color: #ff6b6b;
}

.container-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin-top: 16px;
  background-color: #3c3c3c;
  border-radius: 8px;
  overflow: hidden;
  td {
    padding: 12px 16px;
    border-bottom: 2px solid #303030;
  }
}
